* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    background: rgba(0, 0, 0, 0.6); /* fondo oscuro translúcido */
    border-radius: 20px;
    padding: 30px 25px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}

span {
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}

header {
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px; 
    font-weight: 600;
}

.error {
    color: #ff4d4d;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.input-field .input {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    background: rgba(255,255,255,0.1);
}

.input-field i {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #fff;
    font-size: 18px;
}

::-webkit-input-placeholder {
    color: #ddd;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.8);
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

.submit:hover {
    background: #fff;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3);
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

.left {
    display: flex;
    align-items: center;
}

.left label {
    margin-left: 5px;
}

label a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

label a:hover {
    text-decoration: underline;
}
